@mixin revolutionary-container {
  display: flex;
  margin-right: 8px;
  margin-bottom: 22px;
  border: 1.5px solid var(--border);
  border-radius: 3px;
}

@mixin revolutionary__wrapper-icon {
  display: flex;
  justify-content: center;
  background: linear-gradient(#ffffff, #e2e1e1);

  border-right: 1px solid var(--border);
}

@mixin wrapper_icom_image {
  align-self: center;
  margin-right: 3px;
  margin-left: 9px;
}

@mixin wrapper_icon_item-text {
  text-decoration: none;
  align-self: center;
  margin-left: 3px;
  margin-right: 1px;
  font-family: $fontLato;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 16px;
  color: $text-color;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-right: 10px;
  cursor: pointer;
}

%fsn {
  font-style: normal;
  font-weight: normal;
}
%fsb {
  font-style: normal;
  font-weight: bold;
}
