:root {
  --revolutionary-color: #635C73;
  --unlimited-color: #848e97;
  --revolution_text-color: #323232;
  --here_is_text-color: #8D81AC;
  --basic_color_text: #FFFFFF;
  --Bottom_line-color: #8D81AC;
  --here_is-background: #F4F4F4;
  --backgroun-subscription-color:  #4b3b4e;
}
