:root {
  --revolutionary-color: #73645c;
  --unlimited-color: #848e97;
  --revolution_text-color: #323232;
  --here_is_text-color: #8D81AC;
  --basic_color_text: #FFFFFF;
  --Bottom_line-color: #8D81AC;
  
}
