//·Section·revolution
$cap-color: #848e97;
$content-color: #635c73;
$text-color: #323232;

//·Section·here_is
$main-color: #8d81ac;
$title-color: #323232;
$cap-color: #848e97;

//·Section·subscriptionпш
$base-color: #ffffff;
$back-color: #f4f4f4;

$background-color: rgb(255, 255, 255);

:root {
  --revolutionary-color: #635c73;
  --unlimited-color: #848e97;
  --revolution_text-color: #323232;
  --here_is_text-color: #8d81ac;
  --basic_color_text: #ffffff;
  --Bottom_line-color: #8d81ac;
  --here_is-background: #f4f4f4;
  --backgroun-subscription-color: #4b3b4e;
  --border: rgba(132, 142, 151, 0.5);
}

$fontMont: "Montserrat", sans-serif;
$fontLato: "Lato", sans-serif;
