header{
    background-color: #27262A;
    @media(min-width:992px){
        background-color: #000000;
    }
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @media(min-width:481px){
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: space-between;
    }
    @media(min-width:992px){
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-rows: auto;
        grid-template-areas:
        "logo logo logo logo navigation btn";
    }
}
.logo{
    display: flex;
    align-items: center;
    grid-area:logo;
    order: -1;
    &-text{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 16px;
        font-family: 'Lato', sans-serif;
        color: #8D81AC;
        text-transform: uppercase;
        padding-left: 17px;
        @media(max-width:481px){
            display: none;
        }
    }
    &:hover .logo-text{
        color: #FFFFFF;
    }
    &:hover rect {
        fill:url(#pattern0);
    }
}
.header_btn{
    background-color: #8D81AC;
    border-radius: 40px;
    width: 119px;
    height: 37px;
    border: none;
    outline: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 34px 0 32px;
    grid-area:btn;
    @media(min-width:481px){
        width: 145px;
        height: 37px;
        margin: 24px 0;
        order: 0;
    }
    &:hover{
        background: #FFFFFF;
        color:#8D81AC;
        border: 1px solid #8D81AC;
    }
}
.header-list{
    display: none;
    grid-area:navigation;
    width: 100%;
    @media (max-width:480px) {
        &.active{
            display: block;
            position: absolute;
            width: 290px;
            left: 0;
            top: 103px;
            background-color:#333333;
        }
    }
    &_item{
        padding: 29px 0 21px 35px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 26px;
        color: #FFFFFF;
        cursor: pointer;
        @media (max-width:481px) {
            border-bottom: 3px solid #3B3B3B;
            &:last-child{
                margin-bottom: 14px;
            }
            &.active{
                color: #8D81AC;
                position: relative;
                &::before{
                    content: "";
                    display: block;
                    width: 8px;
                    height: 53px;
                    background-color: #8D81AC;
                    position: absolute;
                    left: 0;
                    top: 13px;
                }
            }
            &:focus{
                color: #8D81AC;
                position: relative;
                &::before{
                    content: "";
                    display: block;
                    width: 8px;
                    height: 53px;
                    background-color: #8D81AC;
                    position: absolute;
                    left: 0;
                    top: 13px;
                }
            }
        }
        @media(min-width:481px){
            padding: 0;
            padding-right: 47px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 18px;   
            color: #8D81AC;  
            &:last-child{
                padding-right: 0;
            }
        }
        &:hover{
            color: #FFFFFF;
        }
    }
    @media(min-width:481px){
        display: flex;
        margin: 0 0 18px;
    }
    @media(min-width:993px){
        display: flex;
        margin: 18px 0 18px;
    }
}
.block{
    display: flex;
    align-items: center;
    justify-content: center;
    @media(min-width:481px){
        position: relative;
        order: 2;
        margin: 0 auto;
    }
}
.header-list_btn{
    width: 26px;
    height: 21px;
    padding: 0;
    background-color: transparent;
    border: transparent;
    outline: none;
    &::before{
        content: "";
        display: block;
        width: 15px;
        height: 3px;
        background-color: #FFFFFF;
        border-radius: 5px;
        margin-bottom: 6px;
        transition: 0.3s;
        margin-left: 11px;
    }
    &::after{
        content: "";
        display: block;
        width: 26px;
        height: 3px;
        background-color: #FFFFFF;
        border-radius: 5px;
        margin-top: 6px;
        transition: 0.3s;
    }
    @media(min-width:481px){
        display: none;
    }
}
.header-list_btn.active{
    &::before{
        width: 32px;
        transform: translatex(-11px) translateY(9px) rotate(45deg);
        transition: 0.3s;
    }
    &::after{
        width: 32px;
        transform: translateY(-9px) rotate(-45deg);
        transition: 0.3s;
    }
    .header-list_btn__line{
        background-color: transparent;
        transition: 0.1s;
    }
}
.header-list_btn__line{
    display: block;
    width: 26px;
    height: 3px;
    background-color: #FFFFFF;
    border-radius: 5px;
    transition: 0.1s;
}

